# ----------------------------------------------------------------------------------------
#       core for data science
# ----------------------------------------------------------------------------------------

numpy==2.2.6
matplotlib==3.10.9

# ----------------------------------------------------------------------------------------
#       notebook environment
# ----------------------------------------------------------------------------------------

jupyterlab==4.6.3
ipykernel==7.3.0
# for removing output of .ipynb
nbstripout==0.9.1

# ----------------------------------------------------------------------------------------
#       development environment
# ----------------------------------------------------------------------------------------

pyyaml==6.0.3
ruff==0.16.8
